h1{
    color: aquamarine;
}
#header{
    background-color: antiquewhite;
    text-align: center;
}
h1{
    color: blue;
}
#background{
    background-color: antiquewhite;
}
.gambar{
    text-align: center;
}
.nav{
    text-align: center;
}
.navul{
    list-style: none;
}